 {% extends "base.html" %} {% block content %}
<div class="titulo">
<h1>Comentarios </h1>
</div>
<hr />
<div class="container align-items-center">
	<form class="form-inline" role="form" action="/newComentario/{{entregaID}}" method="get">
		<hr />
		<input type="text" class="form-control" name="nuevoComentario"
								id="nuevoComentario" placeholder="text">
		<button class="btn btn-dark">Nuevo comentario</button>
		<hr />
	</form>
</div>

<!-- margen   <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> -->
<div class="container align-items-center">
	
	<div class="container align-items-center">
		<div
			class="d-flex flex-row-reverse align-items-center pt-1 pb-1 mb-2 border-bottom">

			<span style="margin-right: 10px;"></span>

		</div>
		{% if listaComentarios.count() > 0 %}
		<div class="table-resposive">
			<table class="table table-dark">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Comentario</th>
						<th scope="col">Usuario</th>
						<th scope="col"></th>
						
					<tr>
				</thead>
				<tbody>
					{% for comentario in listaComentarios %}
					<tr>
					
						<td>{{ comentario.contenido }}</td>
						<td>{{ comentario.usuario.get().nombre}}</td>
						{% if currentUserID == comentario.usuario.get().id  %}
						<td><a class="btn btn-danger"
							href="/deleteEntrega/{{ comentario.key.id() }}">Eliminar</a></td>
						{% endif %}
						
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% else %}
			<div class="container align-items-center">
				<div class="text-center">
					<div class="bg-warning warning_mesagge">
						<label>No existen comentarios todav&iacute;a. </label>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>


{% endblock content %}
